<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBw-IF6fvBiyCr8wWIU5O83kANGFWz1ca4</string>
	<key>GCM_SENDER_ID</key>
	<string>436182649195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.samedgokhan.IbanBookProject</string>
	<key>PROJECT_ID</key>
	<string>ibanbookproject</string>
	<key>STORAGE_BUCKET</key>
	<string>ibanbookproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436182649195:ios:cfd56e83faeb33d28e242e</string>
</dict>
</plist>